
body {
    width: 80%;
}

.description img {
    width: 200px;
    border-radius: 200px;
}

.description p {
    width: 50%;
    margin-left: 8%;
    font-size: 1rem;
    font-family: 'Dosis', sans-serif;
}

.description {
    width: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 25%;
    margin-top: 10%;
    margin-bottom: 10%;
}